BasedOnStyle: Microsoft
PointerAlignment: Left
AccessModifierOffset: -4
IndentWidth: 4
ColumnLimit: 90
SortIncludes: Never
AllowShortBlocksOnASingleLine: Empty
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: WithoutElse
AlwaysBreakTemplateDeclarations: true
AlwaysBreakAfterReturnType: TopLevelDefinitions
BinPackArguments: false
BinPackParameters: false
AlignConsecutiveAssignments: Consecutive