[submodule "sources/thirdparty/glm"]
	path = sources/thirdparty/glm
	url = https://github.com/g-truc/glm.git
	branch = 0.9.8
[submodule "sources/thirdparty/glfwpp"]
	path = sources/thirdparty/glfwpp
	url = https://github.com/CoLuthien/glfwpp.git
[submodule "sources/thirdparty/json"]
	path = sources/thirdparty/json
	url = git@github.com:nlohmann/json.git
[submodule "sources/thirdparty/assimp"]
	path = sources/thirdparty/assimp
	url = https://github.com/assimp/assimp.git
